/**
 * Main
 * version 1.7
 */
html { background-color: #455A64; }
body { font-family: Arial, sans-serif; font-size: 14px; color: black; background-color: white; }

/* Header
   ========================================================================== */
header { border-bottom: 1px solid #E0E0E0; -webkit-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); 
-moz-box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); box-shadow: 0px 3px 10px 0px rgba(224,224,224,1); }
/* inner */
#header-inner { display: flex; flex-direction: column; align-items: stretch; padding-bottom: 30px; /* background-color: tomato; */ }
/* logo */
#header-inner #logo-wrap { text-align: center; margin-bottom: 30px; /* background-color: skyblue; */ }
#header-inner #logo-wrap a:focus { outline: none; }
#header-inner #logo-wrap a:focus img { outline: none; border-radius: 5px; -moz-border-radius: 5px; 
-webkit-border-radius: 5px; -webkit-box-shadow: 1px 1px 2px 0px rgba(138,138,138,1); 
-moz-box-shadow: 1px 1px 2px 0px rgba(138,138,138,1); box-shadow: 1px 1px 2px 0px rgba(138,138,138,1); }
/* dial (clock) */
#header-inner #dial-wrap { text-align: center; margin-bottom: 40px; /* background-color: tan; */ }
#header-inner #dial-wrap #dial { background: url("./img/clock.png") no-repeat left center; padding-left: 28px; font-size: 1.5em; color: #FF6600; }
/* nav */
#header-inner #nav-wrap { margin-bottom: 10px; /* background-color: springgreen; */ }
#header-inner #nav-wrap nav { display: flex; justify-content: space-around; }
#header-inner #nav-wrap nav a { display: block; color: #455A64; text-decoration: none; font-size: 1.2em; }
#header-inner #nav-wrap nav a.current { color: #FF6600; }
#header-inner #nav-wrap nav a:hover { color: #FF6600; }
#header-inner #nav-wrap nav a:focus { outline: none; color: #FF6600; }
#header-inner #nav-wrap nav #logout-link { width: 16px; background: url("./img/logout.png") no-repeat center 2px; }
#header-inner #nav-wrap nav #logout-link:hover { background-position-y: -30px; }
#header-inner #nav-wrap nav #logout-link:focus { outline: none; background-position-y: -30px; }
#header-inner #nav-wrap nav #logout-link span { visibility: hidden; }
/* auth btn */
#auth-box { text-align: center; }
#auth-box a { width: 68px; text-decoration: none; padding: 18px; color: white; background-color: #89C040; }
#auth-box a span { background: url("./img/user.png") no-repeat left center; padding-left: 18px; }
#auth-box a:hover { background-color: #FF6600; }
#auth-box a:focus { outline: none; background-color: #FF6600; }
/* media */
@media screen and (min-width: 450px) {
	#header-inner { flex-direction: row; flex-wrap: wrap; }

	#header-inner #logo-wrap { flex-basis: 100%; }
	#header-inner #dial-wrap { flex-basis: 40%; margin-bottom: 0; }
	#header-inner #nav-wrap { flex-basis: 60%; margin-bottom: 0; }

	#auth-box { text-align: right; padding-right: 30px; }
}
@media screen and (min-width: 700px) { 
	#header-inner { flex-wrap: nowrap; align-items: center; padding-top: 20px; }
	
	#header-inner #dial-wrap { flex-basis: 35%; order: -1; }
	#header-inner #logo-wrap { flex-basis: 30%; margin-bottom: 0; }
	#header-inner #nav-wrap { flex-basis: 35%; }
}
@media screen and (min-width: 715px) {
	#header-inner #dial-wrap { text-align: left; padding-left: 30px; }
}
@media screen and (min-width: 1080px) {
	#header-inner { width: 1080px; margin: 0 auto; }
}


/* Content
   ========================================================================== */
/* main */
main { margin-top: 50px; margin-bottom: 50px; }
/* button: Add pizza */
#wrapper-pizza-add { text-align: center; }
#wrapper-pizza-add .pizza-add { cursor: pointer; font-size: 1em; font-weight: bold; color: #4C3D12; 
text-transform: uppercase; padding: 18px 24px; border: none;
background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); }
#wrapper-pizza-add .pizza-add:hover { background: linear-gradient(110deg, #FF6600 10%, #ffed4b 90%); }
#wrapper-pizza-add .pizza-add:focus { outline: none; background: linear-gradient(110deg, #FF6600 10%, #ffed4b 90%); }
/* list of pizzas */
.pizzas { width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 50px; }
.pizza { position: relative; font-size: 1.2em; max-width: 260px; padding: 23px; margin-bottom: 30px; 
border: 1px solid #E0E0E0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; }
.pizza:hover {
	background-color: #f5f5f5;
}
/* 'envelope', twin boxes, first bottom and second top */
.pizza::before { content: ''; position: absolute; width: 20px; height: 20px; top: -1px; left: -1px; z-index: 2; background-color: white; }
.pizza::after { content: ''; position: absolute; width: 30px; height: 30px; top: 4px; left: 4px; z-index: 3; border-left: 1px solid #E0E0E0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg); }
.pizza .pizza-img { margin-bottom: 2em; }
.pizza .pizza-img a { display: block; border: 5px solid transparent; overflow: hidden; 
-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.pizza .pizza-img a:focus { outline: none; border-color: #FF6600; }
.pizza .pizza-img a img { display: block; text-align: center; width: 100%; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.pizza .pizza-time { width: 60%; float: left; margin-bottom: 1em; cursor: default; }
.pizza .pizza-time span { cursor: help; }
.pizza .pizza-time .time { text-transform: uppercase; cursor: default; }
.pizza .pizza-eta { width: 60%; float: left; margin-bottom: 1em; }
.pizza .pizza-queue { width: 40%; float: left; text-align: right; margin-bottom: 1em; }
.pizza .pizza-price { width: 40%; float: left; text-align: right; margin-bottom: 1em; }
/* ETA */
.pizza .pizza-eta .ready { color: #FF6600; text-transform: uppercase; }
.pizza .pizza-eta .left-one { color: orangered; }
.pizza .pizza-eta .left-one-five { color: green; }
.pizza .pizza-eta .left-more-five { color: black; }
/* media */
@media screen and (min-width: 497px) {
	.pizzas { flex-flow: row wrap; justify-content: space-around; justify-content: space-evenly; }
	.pizza { max-width: 190px; }
}
@media screen and (min-width: 1080px) {
	.pizzas { width: 1080px; margin-left: auto; margin-right: auto; }
}

/* Footer
   ========================================================================== */
footer { background-color: #455A64; color: white; }
#footer-inner { min-height: 100px; display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; }
#footer-address { padding: 0 24px; }
#footer-copyright { padding: 0 24px; }
#footer-address address { font-style: normal; }
#footer-address a { color: white; text-decoration: none; }
#footer-address a:hover { text-decoration: underline; }
/* media */
@media screen and (min-width: 1080px) {
	#footer-inner { width: 1080px; margin-left: auto; margin-right: auto; }
}


/* Auth Form (signin and signup)
========================================================================== */
/* base */
#auth { width: 350px; margin: 0px auto; color:grey; }
#auth h1 { margin: 0; padding: 0; }
#auth span,
#auth button,
#auth label { display: block; }
/* elements */
#auth h1 { margin-bottom: 45px; color: #455A64; }
#auth label { margin-bottom: 35px; }
#auth span { margin-bottom: 5px; }
#auth input { width: 100%; height: 25px; border: none; border-bottom: 1px solid lightgrey; }
#auth input:focus { outline: none; border-bottom: 1px solid #FF6600; }
/* selectbox */
#auth label.selectbox { width: 100%; margin-bottom: 35px; }
#auth label.selectbox span { float: left; margin-right: 15px; }
#auth label.selectbox select { border: none; padding: 4px 7px; position: relative; top: -5px; }
#auth label.selectbox select:focus { outline: none; background-color: #455A64; color: white; }
/* button */
#auth button { border: none; cursor: pointer; display: block; font-size: 1em; padding: 18px 24px; color: white;
background-color: #89C040; margin-top: 45px; }
#auth button:hover { background-color: #FF6600; }
#auth button:focus { outline: none; background-color: #FF6600; }
/* form errors */
#auth #form-errors { margin-top: 35px; background-color: #455A64; color: white; }
#auth #form-errors ul  { margin: 0; padding: 13px 15px; list-style: none; }
#auth #form-errors li { margin: 0; padding: 5px 0px; }
#auth #form-errors li li:before { content: '\2711'; margin-right: 5px; font-size: 1.1em; }

/* Pizza create form
========================================================================== */
#create { color:grey; }
/* text-box */
#create #text-box { margin-bottom: 40px; }
#create #text-box label { display: block; margin-bottom: 35px; }
#create #text-box span { margin-bottom: 5px; }
#create #text-box input { width: 100%; height: 25px; border: none; border-bottom: 1px solid lightgrey; }
#create #text-box input:focus { outline: none; border-bottom: 1px solid #FF6600; } 
/* size-box */
#create #size-box { margin-bottom: 40px;  cursor: default; }
#create #size-box .legend {position: relative; top:-2px; margin-right: 25px; }
#create #size-box label { font-size: 1.2em; margin-right: 20px; cursor: pointer; }
#create #size-box input[type=radio] { cursor: pointer; }
#create #size-box input[type=radio]:checked + span { color:#FF6600; }
/* ingredient-box */
#create #ingredient-box { margin-bottom: 30px; width: 100%; overflow: hidden; }
#create #ingredient-box input[type=checkbox] { display: none; }
#create #ingredient-box .ingredient { display: block; width: 150px; line-height: 36px; padding: 5px 10px; margin: 0 10px 10px 0; 
cursor: pointer; float: left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#create #ingredient-box .ingredient img,
#create #ingredient-box .ingredient span { vertical-align: middle; }
#create #ingredient-box .ingredient img { margin-right: 5px; }
#create #ingredient-box .ingredient:hover { background-color: #ae4424; color: white; }
#create #ingredient-box input[type=checkbox]:checked + span { background-color: #89C040; color: white; }
/* tag-box */
#create #tag-box { margin-bottom: 30px; width: 100%; overflow: hidden; }
#create #tag-box input[type=checkbox] { display: none; }
#create #tag-box .tag { display: block; width: 150px; line-height: 36px; padding: 5px 10px; margin: 0 10px 10px 0;
background-color: #efefef; cursor: pointer; float: left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#create #tag-box .tag span { vertical-align: middle; }
#create #tag-box .tag span::before { content: "#"; margin-right: 5px; }
#create #tag-box .tag:hover { background-color: #ae4424; color: white; }
#create #tag-box input[type=checkbox]:checked + span { background-color: #89C040; color: white; }
/* price-box */
#create #price-box { font-size: 1.2em; }
#create #price-box strong { color: #FF6600; font-size: 2em; margin-left: 25px; }
/* button */
#create button { border: none; cursor: pointer; display: block; font-size: 1em; padding: 18px 24px; color: white;
background-color: #89C040; margin-top: 45px; }
#create button:hover { background-color: #FF6600; }
#create button:focus { outline: none; background-color: #FF6600; }

/* .. in process ...
========================================================================== */
#pane-form { width: 770px; margin: 0px auto; overflow: hidden; }
#pane-form #pane { width: 320px; float: left; margin-right: 50px; position: relative; }
#pane-form #create { width: 400px; float: left; }
#temp-exp-box-for-im { position: absolute; top: 100px; left: 100px; z-index: 1; width: 200px; height: 200px; }

/* Load bar
========================================================================== */
#waiting { width: 150px; height: 150px; overflow: hidden; margin: 0px auto; }

/* User info
========================================================================== */
/* base */
#userinfo { width: 320px; margin: 0px auto; padding: 15px; color: black; 
border-radius: 3px;  -moz-border-radius: 3px; -webkit-border-radius: 3px;
-webkit-box-shadow: 0px 0px 7px 0px rgba(168,168,168,1);
-moz-box-shadow: 0px 0px 7px 0px rgba(168,168,168,1);
box-shadow: 0px 0px 7px 0px rgba(168,168,168,1); }
#userinfo h1 { margin: 0; padding: 0; color:rgba(168,168,168,0.7); }
/* elements */
#userinfo h1 { margin-bottom: 30px; }
#userinfo div { margin-bottom: 30px; font-size: 120%; }
#userinfo div span { color:grey; }

/* Info pages
========================================================================== */
/* base */
#info { width: 350px; margin: 0px auto; color: #455A64; position: relative; word-wrap: break-word; }
#info #info_inner { background-color: #455A64; color: white; padding: 5px 20px; margin-left: 70px; }
#info #info_inner a { color: #9fd1e9; text-decoration: none; }
#info #info_inner a:hover { color: white; text-decoration: underline; }
/* special cases */
#info.info-successful:before { content: '\1F5AB'; position: absolute; top: 8px; left: 0; z-index: 1; font-size: 52px; color: #89C040; }
#info.info-failed:before { content: '\2BBE'; position: absolute; top: 8px; left: 0; z-index: 1; font-size: 52px; color: tomato; }
#info.info-logout:before { content: '\25E8'; position: absolute; top: 8px; left: 0; z-index: 1; font-size: 52px; }
#info.info-404:before { content: '\26A0'; position: absolute; top: 8px; left: 0; z-index: 1; font-size: 52px; }
#info.info-404 { text-align: center; }
#info.info-503:before { content: '\26A0'; position: absolute; top: 8px; left: 0; z-index: 1; font-size: 52px; }
#info.info-503 { text-align: center; }

/* radius and shadow
========================================================================== */
.box-radius-5 { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.box-shadow-2 { -webkit-box-shadow: 1px 1px 2px 0px rgba(138,138,138,1); 
-moz-box-shadow: 1px 1px 2px 0px rgba(138,138,138,1); box-shadow: 1px 1px 2px 0px rgba(138,138,138,1); }
